[Desktop Entry]

Type=Application

Exec=/share/Apps/ansys/v202/Framework/bin/Linux64/runwb2

Name=ansys

Icon=/share/Apps/ansys/v202/commonfiles/images/wb256x256.ico
Name[en_US]=Ansys

Terminal=true
